:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    --primary-color-background: #;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgb(75, 75, 75);
    color: rgb(0, 0, 0);
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header div{ 
    text-align: center;

}

header div a {
    color: white;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-decoration: none;

    margin: 0 1rem;
}

header div a:hover {
    color: #50fa7b;
    transition: color 0.5s;
}
